[
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "REPLACE-ME-VpcId"
  },
  {
    "ParameterKey": "RouteTableId",
    "ParameterValue": "REPLACE-ME-RouteTableId"
  },
  {
    "ParameterKey": "AppRepositoryUrl",
    "ParameterValue": "REPLACE-ME-AppRepositoryUrl"
  }
]
