[
  {
    "ParameterKey": "RouteTableId",
    "ParameterValue": "REPLACE-ME"
  },
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "REPLACE-ME"
  },
  {
    "ParameterKey": "SubnetId",
    "ParameterValue": "REPLACE-ME"
  },
  {
    "ParameterKey": "ScriptsLocation",
    "ParameterValue": "https://raw.githubusercontent.com/krishnan-mani/xapp/develop/scripting/"
  }
]