[
  {
    "ParameterKey": "RouteTableId",
    "ParameterValue": "REPLACE-ME-RouteTableId"
  },
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "REPLACE-ME-VpcId"
  },
  {
    "ParameterKey": "PrivateSubnetCidrBlock",
    "ParameterValue": "172.31.192.0/28"
  }
]
